<h3>Books</h3>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
		</rt>
	</thead>

	<tbody>
		<% @book.each do |book| %>
			<tr>
				<td>
					<% = book.title %>
				</td>
				<td>
					<% = book.body %>
				</td>
				<td>
					<%= link_to "show", book_path(book.id) %>
					<%= link_to "edit", edit_book_path(book.id) %>
					<%= link_to destroy, deatroy_book_path(book.id) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>



<!-- 以下入力フォーム部分 -->
<h3>New Book</h3>
<%= form_for(@book) do |f| %>

<!-- タイトル入力画面 -->
<h4>title</h4>
<% = f.text_field :title %>

<!-- 本文入力画面 -->
<h4>Body</h4>
<% =f.text_area :body %>

<!-- 投稿ボタン -->
<%= f.submit 'Create Book' %>

<% end %>

